<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">ManguitoApp</a>
          </li>
        </ul>
        <ul class="navbar-nav" *ngIf="authService.existeToken() ; else elseBlock">
          <li class="nav-item" *ngIf="!emprendimiento; else elseBlock">
            <a class="nav-link" routerLink="nuevo-emprendimiento">Publicar Emprendimiento</a>
          </li>
          <ng-template #elseBlock>
            <a class="nav-link" routerLink="#">Editar Emprendimiento</a>
          </ng-template>
          <li class="nav-item" *ngIf="authService.obtenerRol() == 'admin' ">
            <a class="nav-link" routerLink="administrar-categorias">Administrar categorias</a>    
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-md-0" *ngIf="authService.existeToken()">
          <li class="nav-item d-flex">
              <a routerLink="perfil" class="nav-link">
                  <b>¡Hola {{authService.obtenerEmailUsuario()}}! </b>
                  <i class="bi bi-person-lines-fill"></i>
              </a>
          </li>
          <li class="nav-item"><a id="logut" style="cursor:pointer;" class="nav-link" (click)="logout()">Cerrar sesión</a></li>
      </ul >
      <ng-template #elseBlock>
        
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item "><a class="nav-link" routerLink="login">Iniciar Sesión</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="registro">Registrarse</a></li>
        </ul>
      </ng-template>
      </div>
    </div>
  </nav>